__pycache__
!encrypted.taz.gz.gpg
.DS_Store
.terraform
.terraform.*
.vscode/
*.egg-info
*.pem
build/
credentials.json
dist/
encrypted.taz.gz*
letsencrypt/**
photos_dev_secrets.json
terraform.tfstate*
terraform.tfvars
venv/
